.nav-wrapper{
    background-color:khaki;
    font-size: larger;
  }
  .nav-wrapper .right{
    text-align: right;
    display:block;
    color:white;
  }
  .nav-wrapper .right li{
    display: inline-block;
    padding:20px;
    text-decoration: none;
  }
  .nav-wrapper .right li:hover{
   background-color:yellow;
   opacity: 0.8;
  }
  .nav-wrapper .right li a{
    text-decoration: none;
    font-size: larger;
    color: orange;
  }

.clicking, .bookn, .select{
    text-align: center;
  }
  .booking{
    box-sizing: border-box;
    box-decoration-break: clone;
    box-shadow: aqua;
    padding-top: 20px;
  }
  .booking{
    border-radius: 4px;
    width:60%;
    border: 3px solid orangered;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    
  }
  
  .container1{
      text-align: center;
      position: relative;
  }
  input[type=text], select{
    width:80%;
    padding:10px 20px;
    margin: 8px 0;
    border-radius:5px;
    border: 1px solid gray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  input[type=number], select{
    width:80%;
    padding:10px 20px;
    margin: 8px 0;
    border-radius:5px;
    border: 1px solid gray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  input[type=email], select{
    width:80%;
    padding:10px 20px;
    margin: 8px 0;
    border-radius:5px;
    color:black;
    border: 1px solid gray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  
  #show{
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .clicking{
      margin-bottom: 20px;
  }
  
select{

    height: 35px;
    
}

footer{
    text-align: center;
    background-color: khaki;
    margin-bottom: 0;
    padding: 10px;
}

#heading h2{
    font-size: larger;
}

label{
    color:blue;
}

body{
    background-image: url("../images/social_icons/sea-shore-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: white;
}